#main{
	background-color: white; 
	padding: 2px 10px;
	margin: auto;
}
body{
	text-align: center; 

}
.title{
	background-color: #BAFDFF; 
	padding: 40px; 
	font-family: "Helvetica";
	color: #fff;
	height: 20px;
	font-size: 30px;
	text-align: center;

}